html {
}

.avatar-menu {
    margin-right: 2px;
}

.avatar-circle-20 {
    border-radius: 10px;
}

.avatar-circle-120 {
    border-radius: 60px;
}

.validation-no-bullets ul {
    list-style-type: none;
    padding: 0;
    margin: 8px;
}
