@model  EditMyAccountModel
@{ ViewData[ViewKey.Title] = "My Account";}

    <div class="row">
        <div class="col-12">
            <h1>My Account</h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2 text-center">
            <form asp-action="Edit">
                <div>
                    <avatar avatar-id="@Model.AvatarId" size="120" class="avatar-circle-120" />
                    <input type="hidden" asp-for="AvatarId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger validation-no-bullets"></div>
                    <div class="form-group">
                        <input asp-for="DisplayName" class="form-control" />
                        <span asp-validation-for="DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="pt-3">
                    <input type="submit" class="btn btn-primary btn-block" value="Save" />
                    <a asp-action="Index" class="btn btn-secondary btn-block">Cancel</a>
                </div>
            </form>
        </div>
    </div>
