@model ForgotPasswordModel
@{
    ViewData[ViewKey.Title] = "Forgot Password";
}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
        <div>
            <p>
                <h1 class="text-black-50 text-center login-logo">blog<span class="text-primary">-n</span></h1>
                Enter your email address below and click the "Reset Password" button.
                If your email address is found, a link will be emailed to you to reset your password.
            </p>
        </div>
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger validation-no-bullets"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary float-right">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}