@model ResetPasswordModel
@{
    ViewData[ViewKey.Title] = "Reset Password";
}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
        <div>
            <h1 class="text-center">Reset Password</h1>
        </div>
        <div class="pt-3">
            <form asp-action="ResetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger validation-no-bullets"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="pt-3">
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
