@{
    ViewData[ViewKey.Title] = "Password Reset Sent";
}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
            <div>
                <p>
                    <h1 class="text-black-50 text-center login-logo">blog<span class="text-primary">-n</span></h1>
                    If your email address was found, a link was emailed to you to reset your password.
                    Please check your email and follow the link to proceed.
                </p>
            </div>
        </div>
    </div>

