@{
    ViewData[ViewKey.Title] = "Password Reset Sent";
}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
            <div>
                <p>
                    <h1 class="text-center">Forgot Password</h1>
                    If your email address was found, a link was emailed to you to reset your password.
                    Please check your email and follow the link to proceed.
                </p>
            </div>
            <div class="text-center p-4">
                <a asp-controller="Account" asp-action="SignIn">Return to Sign In</a>
            </div>
        </div>
    </div>

