@model ResetPasswordStatusModel
@{ViewData[ViewKey.Title] = "Reset Password";}
@switch (Model.Status)
{
    case ResetPasswordStatusModel.StatusKey.NotFound:
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h1 class="text-danger">Request Not Found</h1>
            </div>
            <div class="col-sm-10 offset-sm-1 pt-3">
                <p>
                    An error occurred while validating your password reset request.  The token provided was not found.
                    This could be because the token does not exist, the email provided did not match or because the token is expired.
                    Please verify the link/url is correct and try again or try creating a new request by clicking the forgot
                    password link on the <a asp-controller="Account" asp-action="SignIn">sign in page</a>.
                </p>
            </div>
        </div>
        break;
    case ResetPasswordStatusModel.StatusKey.ValidationError:
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h1 class="text-danger">Server Error</h1>
            </div>
            <div class="col-sm-10 offset-sm-1 pt-3">
                An error occurred while validating your password reset request.
                Please try again or try creating a new request by clicking the forgot password link on the
                <a asp-controller="Account" asp-action="SignIn">sign in page</a>.
            </div>
        </div>
        break;
    case ResetPasswordStatusModel.StatusKey.Success:
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Password Reset</h1>
            </div>
            <div class="col-md-6 offset-md-3 text-center pt-3">
                <p>Your password has been successfully reset.</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 offset-md-4 text-center">
                <a asp-controller="Account" asp-action="SignIn" class="btn btn-primary btn-block">Sign In</a>
            </div>
        </div>
        break;
    default:
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <h1 class="text-danger">Server Error</h1>
            </div>
            <div class="col-sm-10 offset-sm-1 pt-3">
                An error occurred while validating your password reset request.
                Please try again or try creating a new request by clicking the forgot password link on the
                <a asp-controller="Account" asp-action="SignIn">sign in page</a>.
            </div>
        </div>
        break;
}

