@model SignInModel
@{
	ViewData[ViewKey.Title] = "Sign In";
}
<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
		<div>
			<p>
				<h1 class="text-black-50 text-center login-logo">blog<span class="text-primary">-n</span></h1>
			</p>
		</div>
		<form asp-action="SignIn" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger validation-no-bullets"></div>
			<div class="form-group">
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary float-right">Sign In</button>
		</form>
		<div class="mr-auto">
			<a asp-controller="Account" asp-action="ForgotPassword">Reset Password</a>
		</div>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}